@charset "utf-8";
html, body{font-family:맑은 고딕, Segoe UI&quot, Arial, sans-serif; font-size: 15px; line-height: 1.5;}
body, p{margin:0;padding: 0;}
h1{box-sizing: inherit; font-size: 36px; font-weight: 400; margin: 10px 0px;}
h2{font-size: 33px;font-weight: normal;}
h3{font-size: 30px;font-weight: normal;}
ul,li{list-style: none;}
*{}
.line{}
.table-gray{width:100%;border: none; border-collapse: collapse;font-size:13px}
.table-gray th{padding:8px; display:table-cell; text-align:left; border:1px solid #ddd;}
.table-gray td{padding:8px; display:table-cell; text-align:left; border:1px solid #ddd;}
.btn-link{}
.tutorials{padding: 10px 16px;margin: 20px 0;background-color: #f1f1f1;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}
.tutorials-code{padding: 10px;background: #fff;border: 1px solid #ccc;}
.tutorials-content{}
.code{padding:10px;margin: 10px 0;border: 1px solid #ccc;}
.note{padding:10px;background-color: #ffffcc;border-left: 6px solid #ffeb3b;}
/* 경고 */
.warning{padding:10px;background-color: #ffdddd;border-left: 6px solid #f44336;}